<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>$(DEVELOPMENT_LANGUAGE)</string>
  <key>CFBundleDisplayName</key>
  <string>HR-BCP Mobile</string>
  <key>CFBundleExecutable</key>
  <string>$(EXECUTABLE_NAME)</string>
  <key>CFBundleIdentifier</key>
  <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>$(PRODUCT_NAME)</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>$(MARKETING_VERSION)</string>
  <key>CFBundleVersion</key>
  <string>$(CURRENT_PROJECT_VERSION)</string>
  <key>LSRequiresIPhoneOS</key>
  <true/>
  <key>UIApplicationSceneManifest</key>
  <dict>
    <key>UIApplicationSupportsMultipleScenes</key>
    <false/>
  </dict>
  <key>UILaunchStoryboardName</key>
  <string></string>
  <key>UIMainStoryboardFile</key>
  <string></string>
  <key>UIRequiredDeviceCapabilities</key>
  <array>
    <string>arm64</string>
  </array>
  <key>UISupportedInterfaceOrientations</key>
  <array>
    <string>UIInterfaceOrientationPortrait</string>
  </array>
  <key>NSCameraUsageDescription</key>
  <string>Aplikasi membutuhkan kamera untuk daftar wajah dan absensi native.</string>
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>Aplikasi membutuhkan lokasi untuk validasi absensi.</string>
  <key>NSPhotoLibraryUsageDescription</key>
  <string>Aplikasi membutuhkan akses galeri untuk upload lampiran.</string>
  <key>NSPhotoLibraryAddUsageDescription</key>
  <string>Aplikasi membutuhkan akses penyimpanan foto jika diperlukan.</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>Akses mikrofon mungkin dibutuhkan oleh komponen kamera.</string>
  <key>WKAppBoundDomains</key>
  <array>
    <string>hr.berkahcipta.co.id</string>
  </array>
</dict>
</plist>
